<div class="body-wrapper">
<h1>Sign In</h1>
<h4 *ngIf="error">{{error}}</h4>
<div class="registration_form">
<form (ngSubmit)="submit()">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" class="form-control" [(ngModel)]="username" />

    <label for="password">Password</label>
    <input id="password" type="password" name="password" class="form-control" [(ngModel)]="password" />
    
    <br><br>
    <div style="text-align: center;">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
</div>
</div>

