<h1>Sign Up</h1>
<div>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label for="nameLable">Name</label>
    <input required type="text" class="form-control" id="name" name="name" >
    
    <label for="nameLable">Email</label>
    <input required type="email" class="form-control" id="email" name="email">
    
    <label for="passwordLable">Name</label>
    <input required type="password" class="form-control" id="password" name="password" >
     <br><br>
    <div style="margin-left:40px">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>

</form>
</div>


